body {
  margin: 0 30px;
}
.navigationBar {
  padding: 10px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  border-collapse: collapse;
  border: 1px solid black;
}
.nav-item li {
  cursor: pointer;
}
.dropDown ul {
  position: absolute;
  display: flex;
  flex-direction: column !important;
  padding: 0;
  margin-top: 20px;
  gap: 10px;
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
}
.show {
  transform: translateY(0rem) !important;
  visibility: visible !important;
  opacity: 1 !important;
}
